* {
  margin: 0px;
  overflow: hidden;
}
#player {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateX(-50%);
  display: none;
}
body {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("Images/1000068406-removebg-preview.png");
  background-size: 100%;
  background-position-y: -22%;
}
@keyframes jump {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-45deg)
    
  }
}
#player.jump {
  animation-name: jump;
  animation-duration: 0.2s;
}
.col, .col2{
  position: absolute;
  width: 70px;
  height: 10%;
  bottom: 0px;
  background-image: url("Images/Toons_Wood_Block.png");
  background-size: 35px;
 
}
.col2 {
  top: 0px;
  height: 40%;
  background-position: left bottom;
}
#start {
  height: 150px;
  animation-name: parp;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#dst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
}
#logo {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  border-bottom-style: solid;
  padding: 10px;

}
.bird {
  width: 50px;
  left: 50%;
  
  
}
#bc{
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -20%);
}
@keyframes parp {
  0%{
    scale: 1;
  }
  50%{
    scale: 0.9;
  }
  100%{
    scale: 1;
  }
}