* {
  margin: 0px;
  overflow: hidden;
}
#player {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateX(-50%);
  display: none;
}
body {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("Images/c4cdedac82863f5b29c75a56dc4ddeeb~2.jpg");


 
}
@keyframes jump {
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(-45deg)
    
  }
}
#player.jump {
  animation-name: jump;
  animation-duration: 0.2s;
}
.col, .col2{
  position: absolute;
  width: 70px;
  height: 10%;
  bottom: 0px;
  background-image: url("Images/Toons_Wood_Block.png");
  background-size: 35px;
 
}
.col2 {
  top: 0px;
  height: 40%;
  background-position: left bottom;
}
#start {
  width: 100px;
  height: 100px;
}
#dst {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  text-align: center;
}
#logo {
  width: 85%;
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  
}